#btn_tarefa{
    background-color: white;
    color: var(--roxo3);
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 8px;
    border: solid 4px var(--roxo4);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 10px;
    transition-duration: 0.5s;
    position: relative;
}

#btn_tarefa:hover{
    background-color: var(--roxo4);
    color: white;
}

#nova_tarefa{
    font-size: 20px;
    margin-right: 20px;
}

#nova{
    margin-left: 10px;
    font-size: 20px;
    color: var(--roxo3);
    font-weight: 600;
}

form{
    display: none;
    margin-top: 20px;
    margin-left: 18px; 
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 320px;
    padding: 5px 20px 40px;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 20px white;
}

form>input{
    font-size: 20px;
    padding: 7px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form>textarea{
    font-size: 20px;
    padding: 7px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 240px;
    height: 100px;
}

textarea::placeholder, input::placeholder{
    color: rgb(177, 177, 177);
}

#adc{
    font-size: 20px;
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#cnc{
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(128, 0, 0);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}