#btn_tarefa{
    background-color: white;
    color: var(--roxo3);
    cursor: pointer;
    border-radius: 40px;
    font-weight: 600;
    padding: 10px;
    padding-bottom: 8px;
    border: solid 4px var(--roxo3);
    box-shadow: 0px 0px 20px rgb(43, 43, 43);
    margin-top: 20px;
    margin-left: 30px;
    transition-duration: 0.5s;
    position: relative;

}

#btn_tarefa:hover{
    border: solid 4px white;
    background-color: var(--roxo4);
    color: white;
}

#nova_tarefa{
    font-size: 20px;
    margin-right: 20px;
    text-shadow: 0px 0px 1px rgb(61, 61, 61);
}

#nova{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

#formulario, #form_edit{
    display: none;
    margin-top: 20px;
    margin-left: 18px; 
    font-size: 20px;
    background-color: rgba(7, 7, 7, 0.9);
    width: 320px;
    padding: 5px 20px 40px;
    position: absolute;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 20px white;
    border: solid 1px var(--roxo4);
    text-shadow: 0px 0px 1px rgb(61, 61, 61);
}

#formulario>input, #form_edit>input{
    font-size: 20px;
    padding: 7px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#formulario>textarea, #form_edit>textarea{
    font-size: 20px;
    padding: 7px;
    padding-left: 8px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 240px;
    height: 100px;
}

textarea::placeholder, input::placeholder{
    color: rgb(177, 177, 177);
}

#adc, #alt{
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(17, 100, 17);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    text-shadow: 0px 0px 1px rgb(61, 61, 61);
}

#alt{
    background-color: rgb(185, 117, 13);
}

#cnc, #cnc2{
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(168, 30, 30);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.card, .card2{
    background-color: aliceblue;
    text-align: justify;
    color: var(--roxo2);
    text-shadow: none;
    font-size: 20px;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--roxo4);
    text-shadow: 0px 0px 1px rgb(104, 104, 104);
}

.card>h3{
    text-align: center;
    padding-top: 25px;
}

.card>h4{
    text-align: center;
    font-size: 18px;
}

.card>p{
    text-align: justify;
}

.card>p{
    padding: 0px 15px 20px 15px;
}

.card2>h3{
    text-align: center;
    padding: 15px;
}

.apagar{
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background-color: rgb(168, 30, 30);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 8.5px;
    width: 100px;
    height: 55px;
}

.concluir{
    background-color: rgb(17, 100, 17);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 8.5px;
    width: 100px;
    height: 55px;
}

.editar{
    background-color: rgb(185, 117, 13);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 8.5px;
    width: 100px;
    height: 55px;
}