@media screen and (min-width: 1024px){   
    header{
        font-size: 20px;
        margin-top: -25px;
    }
    
    #btn_tarefa{
        margin-left: 400px;
    }

    #btn_tarefa>span{
        font-size: 30px;
    }

    #formulario, #form_edit{
        font-size: 25px;
        margin-left: 280px;
        width: 450px;
    }

    #formulario>input, #form_edit>input, #formulario>#descricao, #form_edit>#descricao2{
        font-size: 25px;
        width: 350px;
    }

    .card{
        width: 600px;
        font-size: 25px;
        margin-left: 200px;
    }

    .card>h4{
        font-size: 20px;
    }

    .concluir{
        margin-left: 150px;
    }

    .card>p{
        padding: 0px 35px 40px 35px;
    }

    #alt, #cnc2{
        width: 129px;
    }

    footer{
        font-size: 20px;
        margin-top: 72.3vh;
        margin-bottom: -35px;
    }
}